<div class="album text-muted">
    <div class="container">
        <div class="row">
            <h2>Contact Us</h2>
            <form>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input ngModel
                           name="firstName"
                            #firstName = "ngModel"
                           (change)="log(firstName)"
                           id="firstName"
                           type="text"
                           class="form-control"
                           minlength="3"
                           required
                    />

                    <div class="alert alert-danger" *ngIf="firstName.touched && firstName.errors">
                        <div *ngIf="firstName.control.errors.required">First name is required.</div>
                        <div *ngIf="firstName.control.errors.minlength">First name should contain at least {{firstName.control.errors?.minlength.requiredLength}} characters.</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input ngModel
                           name="email"
                           #email = "ngModel"
                           type="email"
                           class="form-control"
                           id="exampleInputEmail1"
                           aria-describedby="emailHelp"
                           placeholder="Enter email"
                           required
                    >
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    <div class="alert alert-danger"
                         *ngIf="email.touched && !email.valid">Email is required.</div>

                </div>
                <div class="form-group">
                    <label for="text">Comment</label>
                    <textarea ngModel
                              name="text"
                              #text = "ngModel"
                              class="form-control"
                              id="text"
                              rows="3"
                              required
                    ></textarea>

                    <div class="alert alert-danger"
                         *ngIf="text.touched && !text.valid">Text is required.</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>