<div class="album text-muted">
    <div class="container">
        <div class="row">

            <div class="col-xs-4">
            </div>
            <div class="col-xs-4">
                <h2>Sign Up</h2>
                <form  autocomplete="off" novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
                    <div class="form-group">
                        <label for="login">Login</label>
                        <input formControlName="login"
                               name="login"
                               id="login"
                               type="text"
                               class="form-control"
                        />

                    </div>

                    <div *ngIf="showErrorCheckLoader('login')">.... checking shouldBeUnique...</div>

                    <div class="field-error-message" *ngIf="isErrorVisible('login','required')">field is mandatory</div>
                    <div class="field-error-message" *ngIf="isErrorVisible('login','cannotContainSpace')">field cannotContainSpace!</div>
                    <div class="field-error-message" *ngIf="isErrorVisible('login','shouldBeUnique')">field shouldBeUnique!</div>

                    <div class="form-group">
                        <label for="password">Password</label>
                        <input formControlName="password"
                               name="password"
                               type="password"
                               class="form-control"
                               id="password"
                        >
                    </div>
                    <div class="field-error-message" *ngIf="isErrorVisible('password','required')">field is mandatory</div>

                    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Sign Up</button>
                </form>
            </div>
            <div class="col-xs-4">
            </div>
        </div>
    </div>
</div>